# Django specific
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
.env

# Ignore all static files compiled by collectstatic
static/

# Ignore virtual environment directory
venv/

# Node specific
node_modules/
npm-debug.log
yarn-error.log

# React specific
.eslintcache
build/
.DS_Store
